:root {
    --greenColor: rgb(183, 253, 53);
    --whiteColor: white;
    --grayColor: rgb(210, 210, 210);
    --aquamarineColor: aquamarine;
    --orangeColor: orange;
    --yellowColor: yellow;
    --pinkColor: pink;
    --violetColor: violet;
}

body {
    color: #fff;
    background-color: rgb(60, 60, 60);
    margin: 0 35px;
    padding-top: 20px;
    font-size: 18px;
}

a {
    color: var(--pinkColor);
}

a:visited {
    color: var(--violetColor);
}

p {
    margin: 0;
    padding: 0;
}

i {
    margin-right: 5px;
}

table{
    text-align: left;
    width: 512px;
    height: 58px;
    margin: 0 auto;
    border: 1px solid var(--grayColor);
}

tr, td {
    padding: 2px;
}

tr td {
    border-bottom: 1px solid var(--grayColor);
}

tr:last-of-type td {
    border-bottom: 0;
}

td {
    border-right: 1px solid var(--grayColor);
}

td:last-of-type {
    border-right: 0;
}

.pageTitle {
    color: var(--greenColor);
    font-size: 35px;
    font-weight: bold;
}

.linkTitle a {
    color: var(--greenColor);
}

.sectionsTitle {
    color: var(--greenColor);
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    vertical-align: top;
    background-color: rgb(35, 35, 35);
    border: 2px solid var(--greenColor);
    margin: 20px 0;
    padding: 3px;
}

.greenColor,
.greenColor span,
.greenColor p {
    color: var(--greenColor) !important;
}

.whiteColor,
.whiteColor span,
.whiteColor p {
    color: var(--whiteColor) !important;
}

.grayColor,
.grayColor span,
.grayColor p {
    color: var(--grayColor) !important;
}

.aquamarineColor,
.aquamarineColor span,
.aquamarineColor p {
    color: var(--aquamarineColor) !important;
}

.orangeColor,
.orangeColor span,
.orangeColor p {
    color: var(--orangeColor) !important;
}

.yellowColor,
.yellowColor span,
.yellowColor p {
    color: var(--yellowColor) !important;
}

.pinkColor,
.pinkColor span,
.pinkColor p {
    color: var(--pinkColor) !important;
}

.violetColor,
.violetColor span,
.violetColor p {
    color: var(--violetColor) !important;
}
